Back-End/node_modules
Back-End/.env
Back-End/.env.*
Back-End/.idea
Back-End/.devcontainer
Back-End/logs
Back-End/coverage
Back-End/uploads

Front-End/node_modules
Front-End/.env
Front-End/.env.*
Front-End/.idea
Front-End/.devcontainer
Front-End/logs
Front-End/coverage



